#smime-message,
#messagebody div #smime-message
{
margin: 0;
margin-bottom: 5px;
min-height: 20px;
padding: 10px 10px 6px 46px;
}

div.smime-error,
#messagebody div.smime-error
{
background: url(error.png) 6px 1px no-repeat;
background-color: #EF9398;
border: 1px solid #DC5757;
}

div.smime-notice,
#messagebody div.smime-notice
{
background: url(signed.png) 6px 1px no-repeat;
background-color: #A6EF7B;
border: 1px solid #76C83F;
}

div.smime-warning,
#messagebody div.smime-warning
{
background: url(signed.png) 6px 1px no-repeat;
background-color: #F7FDCB;
border: 1px solid #C2D071;
}

#smime-message a
{
color: #666666;
padding-left: 10px;
}

#smime-message a:hover
{
color: #333333;
}
