#smime-message,
#messagebody div #smime-message
{
margin: 0;
margin-bottom: 15px;
min-height: 20px;
padding: 7px 7px 6px 42px;
font-size: 0.9rem;
color: #2c363a;
}

div.smime-error,
#messagebody div.smime-error
{
background: url(error.png) 6px 2px no-repeat;
background-color: #f0f0f0;
border: 1px solid #f0f0f0;
}

div.smime-notice,
#messagebody div.smime-notice
{
background: url(signed.png) 6px 2px no-repeat;
background-color: #f0f0f0;
border: 1px solid #f0f0f0;
}

div.smime-warning,
#messagebody div.smime-warning
{
background: url(signed.png) 6px 2px no-repeat;
background-color: #f0f0f0;
border: 1px solid #f0f0f0;
}

#smime-message a
{
color: #666666;
padding-left: 10px;
}

#smime-message a:hover
{
color: #333333;
}
